@font-face {
  font-family: Proxima Nova;
  src: url(../fonts/Proxima_Nova_Regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: SVN Monument Extended UltraLight;
  src: url(../fonts/SVN_Monument_Extended_UltraLight.otf);
  font-weight: normal;
}

@font-face {
  font-family: SVN Monument Extended Light;
  src: url(../fonts/SVN_Monument_Extended_Light.otf);
  font-weight: normal;
}
