$color-text-main: #212121;
$primary-font   : 'Proxima Nova';
$primary-color  : #000000;
$active-color   :#FF3333;
$disabled-color : #A3A3A3;
$secondary-font : 'SVN Monument Extended UltraLight';
$third-font     : 'SVN Monument Extended Light';